.nupp {
  background-color: green;
  margin: 2vh;
  border-radius: 10px;
  width: 10vh;

}
.nupu-tekst {
  color: lightgray;
}
.nupp:hover {
  transform: scale(1.1);
}
.nupp:active {
  cursor: grab;
}

.sinine-text {
  color: blue;

}
.sinine-text:hover {
  font-size: 24px;
}
.roheline-text {
  color: green;
  font-weight: bold;
  border: solid red;
  width: auto;
  padding: 1vh;
}
.roheline-text:hover {
  border: solid brown;
}

.pildi-kast {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.pilt:hover {
  border-radius: 20px;
  transition: 2s;
  opacity: 50%;
}

body {
  background-color: beige;
}